<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-2">
      <div class="alert alert-success" id="success" {{#if noMessage }}hidden{{/if}}>
        {{ successMsg }}
      </div>
  </div>
</div>
{{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="{{ this.imagePath }}" class="img-responsive img-thumbnail">
                    <div class="caption">
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                        <p>
                            <strong>${{ this.price }}</strong>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary pull-right" role="button">添加到购物车</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
