{{#if products}}
    <div class="row">
        <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <ul class="list-group">
                {{#each products }}
                    <li class="list-group-item">
                        <span class="badge">{{this.num}}</span>
                        <strong>{{this.item.title}}</strong>
                        <span class="label label-success">${{this.price}}</span>
                        <div class="btn-group">
                            <button type="button" name="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Reduce by 1</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="#">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <strong>Total: {{totalPrice}}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <a type="button" href="/checkout" class="btn btn-success pull-right">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <h2>NO Items in cart</h2>
        </div>
    </div>
{{/if}}
